apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/kubeflow/pipelines/manifests/kustomize/third-party/seaweedfs/base?ref=${PIPELINE_VERSION}

# This is to match the platform-agnostic details
# Without the additional `application-crd-id` errors will happen due to selector immutability.
namespace: kubeflow
labels:
- includeSelectors: true
  pairs:
    application-crd-id: kubeflow-pipelines

patches:
  - target:
      kind: Deployment
      name: seaweedfs
    patch: |-
      - op: remove
        path: /spec/template/spec/volumes/0
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: seaweedfs
        namespace: kubeflow
      spec:
        template:
          spec:
            volumes:
            - name: data
              hostPath:
                path: ${SEAWEEDFS_HOST_PATH}